<%= render "shared/flash" %>
<div class='list'>
  <h2><%= @list.title %></h2>
  <ul>
    <li><%= link_to "Edit", edit_list_path(@list) %></li>
    <li><%= link_to "Delete", @list, method: :delete, data: { confirm: "Click 'OK' to remove." } %></li>
  </ul>
</div>

<% if @list.notes.any? %>
  <ul class='notes'>
    <% @list.notes.each do |n| %>
      <li>
        <span><%= n.title %></span>
        <%= link_to("Edit", edit_list_note_path(@list, n)) %>
        <%= link_to("Delete", list_note_path(@list, n), method: :delete, data: { confirm: "Ok?" }) %>
      </li>
    <% end %>
  </ul>
<% end %>

<% content_for(:navigation) do %>
<li><%= link_to "New Note", new_list_note_path(@list) %></li>
<% end %>