<%= render "shared/flash" %>
<div class='list'>
  <h2><%= @list.title %></h2>
  <ul>
    <li><%= link_to "Edit", edit_list_path(@list) %></li>
    <li><%= link_to "Delete", @list, method: :delete, data: { confirm: "Click 'OK' to remove." } %></li>
  </ul>
</div>

<% if @list.notes.any? %>
  <ul class='notes'>
    <% @list.notes.active.each do |n| %>
      <li>
        <div>
          <span><%= link_to(n.title, list_note_path(@list, n)) %></span>
          <%= link_to("Edit", edit_list_note_path(@list, n)) %>
          <%= link_to("Delete", list_note_path(@list, n), method: :delete, data: { confirm: "Ok?" }) %>
        </div>
        <div>
          <p><%= n.details %></p>
          <%= link_to("Archive", archive_list_note_path(@list, n), method: :post, data: { confirm: "Ok?" }, class: 'archive') %>
          <%= link_to("Complete", complete_list_note_path(@list, n), method: :post, data: { confirm: "Ok?" }, class: 'complete') %>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>

<% content_for(:navigation) do %>
  <li><%= link_to "New Note", new_list_note_path(@list) %></li>
  <li><%= link_to "Archived Notes", archived_list_path(@list) %></li>
  <li><%= link_to "Completed Notes", completed_list_path(@list) %></li>
<% end %>