<!DOCTYPE html>
<html>
  <head>
    <title>PlotNotes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-no-turbolink>
    <div class='wrap'>
      <nav>
        <a href='/'><h1>PlotNotes</h1></a>
        <%= render "layouts/navigation" %>
      </nav>
      <div class='content'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
